body, html {
  font-family: 'Raleway', sans-serif;
  background-color: #dfe9f7;
  margin: 0;
  padding: 0;
  border: none;
}

div {
  background-color: #f2f2f2;
  opacity: 0.5;
  border-bottom: 1px solid #ccc;
  margin: 0 0 1em 0;
  padding: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  colour: grey;
  opacity: 1;
  padding: 14px 16px;
  text-decoration: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  text-align: center;
}
