<h3>Game Over</h3>
<form action="/end" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="name">
        <input type="hidden" name="score" value="{{score}}">
        <button type="submit">Submit</button>
    </div>
</form>
