<div class="tweet">
    <button id="tweet2" onclick="tweet1Clicked()"><p>{{tweet1}}</p></button>
</div>
<div class="tweet">
    <button id="tweet2" onclick="tweet2Clicked"><p>{{tweet2}}</p></button>
</div>
