<h1>StumpTrump</h1>
<p>Welcome to StumpTrump</p>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/game">Play</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
